#button-container {
  position:  fixed;
  top: 300px;
  left: 50%;
  width: 375px;
  background: dimgray;
  margin-left: -187.5px;
  text-align: center;
  box-shadow: 0px 0px 2px 1px black;
  z-index: 100;
}
