<div class ="container">
  <div class = 'topDiv'>
    <h1>
      Islanders
    </h1>
  </div>
  <div class = 'info'>
    <div class = 'info_currentgame'>
      <div class = 'namePlayer'>
        <input #inputNomJoueur class = 'inputNomJoueur' type = 'text' value = {{this.nomJoueur}}>
        <button #changernom>Changer nom</button>
      </div>
      <div class = 'score'>
        <p>Score : {{this.score}}</p>
        <p>Next Score : {{this.nextScore}}</p>
      </div>
    </div>
    <div class = 'container_tableau_score'>
      <p>LeaderBoard</p>
      <ng-container *ngFor="let y of this.tabScores.entries()">
        <p>
          {{y}}
        </p>
      </ng-container>
    </div>
  </div>

  <div #map class="map">
    <ng-container *ngFor="let y of [0,1,2,3,4,5,6,7,8,9]">
      <ng-container *ngFor="let x of [0,1,2,3,4,5,6,7,8,9]">
        <img
          class='tile'
          [attr.data-x]=x
          [attr.data-y]=y
          src={{this.getTileSvg(x,y)}}
          (click)="this.addCityBlock(x,y)"
        />
      </ng-container>
    </ng-container>
  </div>
  <app-inventory class="inventory"></app-inventory>
</div>

<!--<div class="inventory">
  <div *ngFor="let x of [0,1,2,3]" class="inventory-button">
    <img
      src={{this.getPathNameWithName(this.typeCityBlock[x])}}
      (click)="this.inventoryOnClick(x)"
    />
    <span class="badge">{{this.availableCityBlock[x]}}</span>
  </div>
</div>-->

