<div class ="container">
  <div #map class="map">
    <ng-container *ngFor="let y of [0,1,2,3,4,5,6,7,8,9]">
      <ng-container *ngFor="let x of [0,1,2,3,4,5,6,7,8,9]">
        <img
          *ngIf="router.url === '/play'"
          class='tile'
          [attr.data-x]=x
          [attr.data-y]=y
          src={{this.getTileSvg(x,y)}}
          (click)="this.addCityBlock(x,y)"
        />
        <img
          *ngIf="router.url === '/home'"
          class='tile'
          [attr.data-x]=x
          [attr.data-y]=y
          src={{this.getTileSvg(x,y)}}
        />
      </ng-container>
    </ng-container>
  </div>
</div>

<!--<div class="inventory">
  <div *ngFor="let x of [0,1,2,3]" class="inventory-button">
    <img
      src={{this.getPathNameWithName(this.typeCityBlock[x])}}
      (click)="this.inventoryOnClick(x)"
    />
    <span class="badge">{{this.availableCityBlock[x]}}</span>
  </div>
</div>-->

