<div class="container">
  <div #map class="map">
    <ng-container *ngFor="let y of [0,1,2,3,4,5,6,7,8,9]">
      <ng-container *ngFor="let x of [0,1,2,3,4,5,6,7,8,9]">
        <!-- CLASSIC MODE -->
        <div class="tile"
             (mouseenter)="this.mouseEnter(x,y)"
             (mouseleave)="this.mouseLeave(x,y)"
             (click)="this.addCityBlock(x,y)"
             (dblclick)="this.moveBlock(x, y)">
          <img
            *ngIf="mapService.router.url === '/play' && !mapService.winterMode"
            class='tileImg'
            [attr.data-x]=x
            [attr.data-y]=y
            src={{this.getTileSvg(x,y)}}
          />
          <img
            *ngIf="(mapService.router.url === '/home' || mapService.router.url === '/replay') && !mapService.winterMode"
            class='tileImg'
            [attr.data-x]=x
            [attr.data-y]=y
            src={{this.getTileSvg(x,y)}}
          />
          <!-- WINTER MODE -->
          <img
            *ngIf="mapService.router.url === '/play' && mapService.winterMode"
            class='winterTileImg'
            [attr.data-x]=x
            [attr.data-y]=y
            src={{this.getWinterSvg(x,y)}}
            (mouseenter)="this.mouseEnter(x,y)"
            (mouseleave)="this.mouseLeave(x,y)"
            (click)="this.addCityBlock(x,y)"
            (dblclick)="this.moveBlock(x, y)"
          />
          <img
            *ngIf="(mapService.router.url === '/home' || mapService.router.url === '/replay') && mapService.winterMode"
            class='winterTileImg'
            [attr.data-x]=x
            [attr.data-y]=y
            src={{this.getWinterSvg(x,y)}}
          />
          <div class="infoTile"></div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<!--<div class="inventory">
  <div *ngFor="let x of [0,1,2,3]" class="inventory-button">
    <img
      src={{this.getPathNameWithName(this.typeCityBlock[x])}}
      (click)="this.inventoryOnClick(x)"
    />
    <span class="badge">{{this.availableCityBlock[x]}}</span>
  </div>
</div>-->

