.container{
  flex : 1
}



.topDiv {
  display: flex;
  flex : 1;
  justify-content: center;
}

.info_currentgame{
  position:absolute;
  top:1%;
  left:1%;

  display : flex;
  flex-direction: column;
  justify-self: left;
  flex:2;
}

a{
  position:absolute;
  bottom:5%;
  right:5%;
}

.home_button{
  position:absolute;
  bottom:5%;
  right:5%;
}

.undoRedoDiv{
  position:absolute;
  bottom:5%;
  left:5%;
}

.info{
  display : flex;
  flex : 1;
  flex-direction: row;
}

.inputNomJoueur{
  border-width : 1px;
  border-radius: 5px;
}

.inventory {
  /*position: relative;
  top:50%;
  left:50%;*/
  position: absolute;
  bottom: 10px;
  left:50%;
  transform: translate(-50%, 0%);
  background-color: #cdcdcd;
  box-shadow: 0px 0px 0px 0px black;
  border-radius: 15px;
}

.inventory-button {
  float: left;
  margin: 10px;
  background: #ffffff;
  border-radius: 8px;
  padding: 10px;
}

.inventory-button:hover {
  background-color: black;
}

.header_container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

app-leaderboard{
  position:absolute;
  top:1%;
  right:1%;
}
