.container{
  flex : 1
}

.topDiv {
  display: flex;
  flex : 1;
  justify-content: center;
}

.info_currentgame{
  display : flex;
  flex-direction: column;
  justify-self: left;
  flex:2;
}

.undoRedoDiv{
  display:flex;
  flex:1
}

.info{
  display : flex;
  flex : 1;
  flex-direction: row;
  background-color: #55a2ff;
}

.inputNomJoueur{
  border-width : 1px;
  border-radius: 5px;
}

.inventory {
  left:50%;
  transform: translate(-50%, 0%);
}

.inventory-button:hover {
  background-color: black;
}

.header_container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.map_container{
  display:flex;
  flex:1;
  justify-content: center;
}

.bottom_container{
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}
