.container_tableau_score {
  display: flex;
  flex-direction: row;
  font-family: 'Ek Mukta';
}

.container{
  display: flex;
  flex:1;
  flex-direction: column;
}

button {
  border-color: transparent;
  background: dodgerblue;
  display: flex;
  flex:1;
}

.container_scores {
  display: flex;
  flex-direction: column;
  background-color: lightskyblue;
}
.score{
  margin: 10%;
}

.header_container {
  display: flex;
  flex-direction: row;
  flex:1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: dodgerblue;
}

img {
  width: 40%;
  height: auto;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes colorChange {
  from{
    background-color: dodgerblue;
  }
  to{
    background-color: lightskyblue;
  }

}

.button:hover {
  background: lightskyblue;
  animation-name: colorChange;
  animation-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

