.container_tableau_score {
  display: flex;
  flex-direction: column;

}

.container_scores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: gray;
  list-style: none;
  border-radius: 5px;
  border-color: black;
  align-items: center;

}

.header_container {
  background-color: red;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
}

.score {

  display: flex;
  background: rgb(22, 160, 133);
  color: white;
  border-top: 1px solid rgba(255, 255, 255, .1);
}

img {
  width: 100%;
  height: auto;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

img:hover {
  transform: scale(1.2);
  animation-name: zoom;
  animation-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

