.container{
  display: flex;
  flex-direction: column;
  flex:1;
}

button {
  border-color: transparent;
  background: dodgerblue;
  display: flex;
  flex:1;
  flex-direction: row;
  align-items: center;
}

.container_scores {
  display: flex;
  flex:1;
  flex-direction: column;
  background-color: lightskyblue;
}
.score{
  margin: 10%;
}

.header_container {
  display: flex;
  flex-direction: row;
  flex:1;
  background: dodgerblue;
}

@keyframes colorChange {
  from{
    background-color: dodgerblue;
  }
  to{
    background-color: lightskyblue;
  }

}

img{
  width:70px;
}

