<div class = 'container'>
  <div class = 'info'>
    <div class = 'info_currentgame'>
      <div class = 'namePlayer'>
        <div class = "currentName">
          <img src="assets/teacher.svg" class = "teacher_svg"/>
          <h2>{{this.infogameService.nomJoueur}}</h2>
        </div>
      </div>
      <div class = 'score'>
        <p>Score : {{this.infogameService.score}}</p>
        <p>Next Score : {{this.infogameService.nextScore}}</p>
      </div>
    </div>
    <div class ="header_container">
      <h1>ISLANDER</h1>
      <h2>{{this.mapService.map.name}}</h2>
    </div>
    <div class = "center_header"></div>
    <app-leaderboard></app-leaderboard>
  </div>
  <div *ngIf="this.mapService.isGameOver" class="gameOver" (click)="clickHome()">
    <img class="img_game_over" src="assets/game-over.svg"/>
  </div>
  <div class ="map_container">
    <app-map class = "map"></app-map>
  </div>
  <div class="bottom_container">
    <div class="undoRedoDiv">
      <button (click)="undoFct()" class = "undo">
        <img src="assets/undo.svg" class = "undo_svg"/>
      </button>
      <button (click)="redoFct()" class = "undo">
        <img src="assets/redo.svg" class = "undo_svg"/>
      </button>
    </div>
    <app-inventory class="inventory"></app-inventory>
    <div class ="homeDiv">
      <button (click)="clickHome()" class = "home">
        <img src="assets/home.svg" class = "teacher_svg"/>
      </button>
    </div>
  </div>
</div>

