.container {
  flex: 1;
}

.header_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bottom_container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

.middle_container {
  display: flex;
  flex-direction: row;
}

.arrowLeft {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  background: transparent;
  border: transparent;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.arrowLeft:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}


.arrowRight {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  background: transparent;
  border: transparent;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.arrowLeft:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}


.errorOutputRed {
  color: red;
}

.errorOutputGreen {
  position: absolute;
  bottom: 1%;
  right: 10%;
  color: green;
}

app-leaderboard {
  position: absolute;
  top: 1%;
  right: 1%;
}

.map {
  flex: 7;
  align-self: center;
  justify-self: center;
}

.mid{
  flex : 1;
  display: flex;
  background-color: #55a2ff;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.left{
  flex : 1;
  display: flex;
}

.right{
  flex:1;
  display: flex;
  justify-content: flex-end;
}

.inputNomJoueur{
  height : 50px;
  width : 250px;
  text-align: center;
  font-size: 24px;
}


