<div class="container">
  <div class="header_container">
    <h1>ISLANDER</h1>
    <h2 *ngIf="homeService.mapService.map!==undefined">{{this.homeService.mapService.map.name}}</h2>
  </div>
  <div class='middle_container'>
    <button class='arrow' *ngIf="homeService.mapService.map!==undefined" #arrowLeft (click)="clickArrowLeft()">
      <img src="assets/left-arrow.svg"/>
    </button>
    <app-map class='map' *ngIf="homeService.mapService.map!==undefined"></app-map>
    <button class='arrow' *ngIf="homeService.mapService.map!==undefined" #arrowRight (click)="clickArrowRight()">
      <img src="assets/right-arrow.svg"/>
    </button>
    <app-leaderboard></app-leaderboard>
  </div>
  <div class="bottom_container">
    <div class="left">
      <button (click)="addNewMap()" class ="button_new_map">
        <img src="assets/add.svg" class ="add_svg"/>
        <p>
          Ajouter
        </p>
      </button>
      <button class ="button_new_map">
        <img src="assets/replay.svg" class ="add_svg"/>
        <p>
          Voir les replays disponibles
        </p>
      </button>
    </div>
    <div class = "mid">
      <div>
        <input class = "inputNomJoueur" [(ngModel)]="homeService.mapService.infogameService.nomJoueur">
      </div>
      <button #buttonStart class="start_button" (click)="clickStart()">
        <img src="assets/start.svg" class ="start_svg"/>
      </button>
    </div>
    <div class = "right">
      <select [ngModel]="this.homeService.nameCurrentMap" (ngModelChange)="this.callToChangeMap($event)">
        <option #mapName *ngFor="let y of this.homeService.mapNames" [value] = y>{{y}}</option>
      </select>
    </div>
  </div>
  <p
    [ngClass]="{'errorOutputRed': homeService.mapService.infogameService.isErrorOutputRed, 'errorOutputGreen': !homeService.mapService.infogameService.isErrorOutputRed}">{{homeService.mapService.infogameService.errorOutput}}
  </p>
</div>
