<div class="container">
  <div class="header_container">
    <h1>ISLANDER</h1>
    <h2 *ngIf="homeService.mapService.map!==undefined">{{this.homeService.mapService.map.name}}</h2>
  </div>
  <div class='middle_container'>
    <button class='arrow' *ngIf="homeService.mapService.map!==undefined" id="arrowLeft" (click)="clickArrowLeft()">
      <img src="assets/left-arrow.svg"/>
    </button>
    <app-map class='map' *ngIf="homeService.mapService.map!==undefined"></app-map>
    <button class='arrow' *ngIf="homeService.mapService.map!==undefined" id="arrowRight" (click)="clickArrowRight()">
      <img src="assets/right-arrow.svg"/>
    </button>
    <app-leaderboard></app-leaderboard>
  </div>
  <div class="bottom_container">
    <div class="left">
      <div class ="container_select_replay">
        <p> Select {{this.homeService.nameCurrentMap}} replays</p>
        <select [ngModel]="this.homeService.nameCurrentPlayerReplay" (ngModelChange)="this.clickReplay($event)">
          <option *ngFor="let y of this.homeService.replayNames" [value] = y>{{y}}</option>
        </select>
      </div>
      <button (click)="this.homeService.mapService.toggleWinterMode()" class="buttonWinterMode">Switch season</button>
      <!--<button class ="button_new_map">
        <img src="assets/replay.svg" class ="add_svg"/>
        <p>
          Voir les replays disponibles
        </p>
      </button>-->
    </div>
    <div class = "mid">
      <div>
        <input class = "inputNomJoueur" [(ngModel)]="homeService.mapService.infogameService.nomJoueur">
      </div>
      <button #buttonStart class="start_button" (click)="clickStart()">
        <img src="assets/start.svg" class ="start_svg"/>
      </button>
    </div>
    <div class = "right">
      <div class ="container_select_carte">
        <p> Select a map</p>
        <select [ngModel]="this.homeService.nameCurrentMap" (ngModelChange)="this.callToChangeMap($event)">
          <option #mapName *ngFor="let y of this.homeService.mapNames" [value] = y>{{y}}</option>
        </select>
      </div>
      <button (click)="addNewMap()" class ="button_new_map">
        <img src="assets/add-map.svg" class ="start_svg"/>
      </button>

    </div>
  </div>
  <p
    [ngClass]="{'errorOutputRed': homeService.mapService.infogameService.isErrorOutputRed, 'errorOutputGreen': !homeService.mapService.infogameService.isErrorOutputRed}">{{homeService.mapService.infogameService.errorOutput}}
  </p>
</div>
