.container {
  flex: 1;

}

.header_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bottom_container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

.middle_container {
  display: flex;
  flex-direction: row;
}

.arrow {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  background: lightcoral;
  border: transparent;
  align-self: center;
  justify-self: center;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
@keyframes zoom {
  from {transform: scale(1);}
  to {transform: scale(1.3);}
}
.arrow:hover {
  transform: scale(1.3);
  animation-name: zoom;
  animation-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1)
}


.errorOutputRed {
  color: red;
}

.errorOutputGreen {
  position: absolute;
  bottom: 1%;
  right: 10%;
  color: green;
}

app-leaderboard {
  position: absolute;
  top: 1%;
  right: 1%;
}

.map {
  flex: 7;
  align-self: center;
  justify-self: center;
}

.mid{
  flex : 1;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.left{
  flex : 1;
  display: flex;
  flex-direction: column;
}

.right{
  flex:1;
  display: flex;
  justify-content: flex-end;
}

.inputNomJoueur{
  height : 50px;
  width : 250px;
  text-align: center;
  font-size: 24px;
}

.start_svg{
  width:100px;
}

.button_new_map{
  display: flex;
  flex:1;
  flex-direction: row;
  align-items: center;
}

.add_svg{
  width:50px;
  margin-right: 20px;
}

